body header{
width: 5000px;
height: 100px;
background-color: #4ea0ff;
background-image: url(../img/pattern.png);
}
header div{
width: 4%;
}

h1{
width: 60%;
font-size: 50px;
}
p span{
color: #4ea0ff;
}
.title{
width: 14%;
font-size: 25px;
}
img{
background-size: cover;
height: 50%;
}
